---
layout: default
title: OpenOutcomes
---
  <header class="masthead text-center text-white d-flex" style="background-image:url(../img/home-bg.png);background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover">
      <div class="container my-auto" >
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-dark">
              <img width="100%" src="./img/logo.png"">
            </h1>
            <!--<h3 class="text-lowercase text-dark">
              electronic patient records-->
            </h3>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto text-justify">
            <p class="text-faded text-dark mb-5" >openOutcomes is an innovative digital platform for clinicians and patients to help with patient engagement using patient reported outcomes measures (PROMs/PROs) and patient reported experience measures (PREMs). It is a highly interoperable platform to collect, record and analyse patient outcomes. It has been co-designed by clinicians to help deliver data driven patient care</p>
            <center><a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a></center>
          </div>
        </div>
      </div>
    </header>

<!-- BEGIN WHAT IS SECTION -->

    <section id="about" style="background-color:#D4E3F9">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-justify">
            <center><h2 class="section-heading">openOutcomes™ the leading open source PROMs and PREMs gathering solution</h2></center>
            <hr class="my-4">

                        <p class="mb-0">
                          openOutcomes is an innovative digital platform for clinicians and patients to help with patient engagement using patient reported outcomes measures (PROMs/PROs) and patient reported experience measures (PREMs). It is a highly interoperable platform to collect, record and analyse patient outcomes. It has been co-designed by clinicians to help deliver data driven patient care.</p>
<br>
<p>The platform has been designed to be “pathway agnostic” and cover PROMs in any specialty, as well as Patient Reported Experience Measures (PREMs). Common MSK and Orthopaedic outcomes have long been championed and questionnaires have now been written as openEHR archetypes ready to be incorporated into the platform should Trusts require it. These include:</p>

<ul align="left">
    <li>Foot & Ankle – MOXFQ, AOS, AOFAS, SAFAS, VISA-A, ATRS </li>
    <li>Upper Limb – OSS, OSIS, OES, Boston, PEM, URAM, QDash </li>
    <li>Hip – OHS, iHOT12, NAHS </li>
    <li>Spine – NDI, MDI, ODI, VAS back & leg, VAS arm & neck </li>
    <li>Knee – OKS, OKS (A&P), KOOS, Tegner, IKDC </li>
    <li>General MSK – MSK HQ </li>
    <li>General health– EQ-5D,  </li>
    <li>Pain VAS,  </li>
    <li>Patient Satisfaction </li>
</ul>

<p>Current PROMS input methods include:</p> 
<ul align="left">
    <li>Paper, supported by administrator input (currently the best method to get patient engagement with rates around 50%) </li>
    <li >Electronic entry (currently the cheapest method to collect data, but with maximum reach around 25%) </li>
    <li>Tablets or PC web browser entry by the patients in clinic within the hospital’s intranet </li>
    <li>Web and smartphone / tablet entry via the public internet </li>
    <li>The software has automatic prompts when post-operative responses are due and prompts when questionnaires have not been received. </li>
</ul>

<p>OpenOutcomes is a digital platform capable of building on modules for other speciality PROMs such as ophthalmology, general surgery and cancer services. The technology upon which its built allows for any PROMs questionnaire to be incorporated into the platform due its agnostic capabilities.</p>

<p>While openOutcomes™ can be downloaded and used free of charge anywhere in the world, we recommend that installations in a clinical environment are handled through our authorised professional services network. One of our professional services partners <a href="mailto:nfo@staircase13.com">Staircase 13</a>, can provide advice and pricing on accredited implementation and support services.  

<p>Our partners will ensure that your clinical data integrates with hospital workflows and PAS systems are robust. </p>

<p>All users of openOutcomes™ can become members of our development community, participating in online and offline discussions to identify and prioritise the openOutcomes™ development roadmap. To learn more about membership, please call <a href="tel:0300 030 1973" class="icon">0300 030 1973</a> or email us at <a href="mailto:openoutcomes@apperta.org">openoutcomes@apperta.org </a> and for a more detailed look at openOutcomes™, click the button below.</p>

              <center><a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Find Out More</a></center>
          </div>
        </div>   
      </div>
    </section>
<!-- /END WHAT IS SECTION -->

<!-- BEGIN GOVERNANCE SECTION -->
  <section id="governance">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-justify">
            <center><h2 class="section-heading">Governance</h2>
            <hr class="my-4"></hr></center>

            <p>openOutcomes™ is managed by the <a href="http://apperta.org" target="_blank">Apperta Foundation</a> which protects the intellectual property of openOutcomes™ and ensures that its availability is guaranteed, without compromise for the clinical community. The Apperta Foundation is the custodian of openOutcomes:</p><br>
                          
              <ul class="list">     
                        <li> Supporting and growing the openOutcomes™ community </li>
                        <li> Prioritise and commission openOutcomes™ development</li>
                        <li> As copyright and IP owner, publishing the source code</li> 
                        <li> Growing the accredited professional services partner network</li>
              </ul>          
<br>

<p>Continuing this development as a not for profit body is an essential part of our collaborative, public service ethos. openOutcomes™ cannot, in itself, be sold to a third party ensuring that users have security and can influence development. The openOutcomes™ community manage the design and development of future versions of openOutcomes™ in response to feedback.</p><br>
          </div>
          
        </div>
      <center><a class="btn btn-primary btn-xl js-scroll-trigger" href="#who-we-are">Find Out More</a></center>
      </div>
    </section>
<!-- /END GOVERNANCE SECTION -->

<section id="features" style="background-color:#D4E3F9">
    <div class="container-fluid text-center">
        
      <!--Feature 1-->
	        <div class="col-lg-10 mx-auto">
             <center><h2>Key Features</h2>
            <hr class="my-4"></hr></center>
            <div class="row">      
              <div class="col-md-4" style="padding-bottom: 20px"> 
                    <a class="portfolio-box" href="img/features/fullsize/search-lg.jpg">
                      <img class="img-fluid" src="img/features/thumbnails/search-sm.jpg" alt="">  	
                      <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                        Patient Search
                        </div>
                        <div class="project-name">
                        Search for patients by different criteria
                        </div>
                    </div>
                  </div>
                      </a>                   
                        <!--/ Feature 1-->

        <!-- Feature 2-->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
                <a class="portfolio-box" href="img/features/fullsize/pathway-lg.jpg">
                  <img class="img-fluid" src="img/features/thumbnails/pathway-sm.jpg" alt="">	
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">
                            Care Pathway
                          </div>
                          <div class="project-name">
                            Configure the patients care pathway 
                          </div>
                      </div>
              </div>
              </a>                   
      
          <!--/Feature 2-->

                  <!--Feature 3-->
	        
              <div class="col-md-4" style="padding-bottom: 20px">  
          <a class="portfolio-box" href="img/features/fullsize/procedure-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/procedure-sm.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Update Procedure or Intervention
              </div>
              <div class="project-name">
                Rapid entry of procedure or care intervention information
              </div>
                    </div>
            
                      </a>                   
                </div>   
           
          <!--/Feature 3-->

        <!-- Feature 4-->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
          <a class="portfolio-box" href="img/features/fullsize/patient-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/patient-sm.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Patient Overview
              </div>
              <div class="project-name">
                Rapid entry of information for a range of operations
              </div>
                      </div>
              </div>
              </a>                   
      
          <!--/Feature 4-->

        <!-- Feature 5 -->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
          <a class="portfolio-box" href="img/features/fullsize/dashboard-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/dashboard-sm.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Patient Dashboard
              </div>
              <div class="project-name">
                Review individual patient outcomes over time
              </div>
                      </div>
              </div>
              </a>                   
      
          <!--/Feature 5-->

        <!-- Feature 6 -->
	              
             <div class="col-md-4" style="padding-bottom: 20px">  
<a class="portfolio-box" href="img/features/fullsize/population-lg.jpg">
            <img class="img-fluid" src="img/features/thumbnails/population-sm.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Population Data Analysis
              </div>
              <div class="project-name">
                Analyse patient data at a population level
              </div>
                      </div>
              </div>
              </a>                  
          <!--/Feature 6-->
                      
          <div class="container">
            <h2>openOutcomes Videos</h2>
            <hr>
          <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/851914248?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Introduction to Open Outcomes"></iframe></div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/847937935?title=0&byline=0&portrait=0&speed=0&badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/860126029?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Open Outcomes - Patient Experience"></iframe></div>
                </div>
            </div>  
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div style="padding:56.37% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/795709502?title=0&byline=0&portrait=0&speed=0&badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
                </div>
            </div>
        </div>
      </div>
          </div>
        </div>
      </div> 


  <div class="container text-center">
  Click <a href="https://vimeo.com/channels/openoutcomes" target="_blank">here</a> to view all of the videos in our openOutcomes channel. </br></br>
      <!--<center><a class="btn btn-primary btn-xl" href="{{ '/oodetail' }}">Features In Depth</a></center>-->
      </div>
</section>
    
<!-- BEGIN WHO WE ARE SECTION -->
<section id="who-we-are" class="text-dark bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
                       <center> <h1 class="text-uppercase text-white">
              <strong>Who We Are</strong>
            </h1>
            <h2 class="section-heading text-white">Apperta openOutcomes™ Committee</h2></center>
                        
            <hr class="my-4">
            <p class="text-justify text-white">The Apperta openOutcomes™ Committee comprises clinicians, informaticians and IT experts who combine in-depth knowledge of clinical ophthalmology with a deep and detailed understanding of software who oversee openOutcomes™ development.</p>

            {% assign members = site.members | where:"subcommittee",page.title %}
                {% assign rows = members.size | divided_by: 3.0 | ceil %}
                {% for i in (1..rows) %}
                <div class="row">
                    {% assign offset = forloop.index0 | times: 3 %}
                     {% assign sorted = site.members | where:"subcommittee",page.title  | sort:"position" %}
                       {% for member in sorted limit:3 offset:offset%} 
                        {% if member.subcommittee == page.title %}
                            <div class="col-sm-4">
                                <div class="card" style="height: 100%;">
                                    <div class="card-header"><strong>{{ member.name }}</strong> <p><em>{{ member.role }}</em> </p>
                                    </div>
                                    <div class="card-body">
                                      <img src="{{ member.photo }}" style="margin:10px" alt="Card image cap">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12  col-centered">                        {% if member.twitter == null %}
                                                    {% else %}
                                                    <a href="http://twitter.com/{{ member.twitter }}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                                                {% endif %}
                                                {% if member.www == null %}
                                                    {% else %}
                                                    <a href="{{ member.www }}" target="_blank"><i class="fas fa-globe fa-2x"></i></a>
                                                {% endif %}
                                                {% if member.linkedin == null %}
                                                    {% else %}
                                                    <a href="{{ member.linkedin }}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                                                {% endif %}
                                                {% if member.github == null %}
                                                    {% else %}
                                                    <a href="{{ member.github }}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                                                {% endif %}
                                                </div>
                                            </div>                                         
                                    </div>
                                </div>
                            </div>
                         {% endif %}
                    {% endfor %}
                 </div><br>
                {% endfor %}
            

              </div>
           
          </div>
        </div>

    </section>

<!-- /END WHO WE ARE SECTION -->

  <!-- START PRODUCT USERS SECTION -->

    <section class="bg-white text-black" id="implementations">
      <div class="container text-center">
	  <div class="col-lg-10 mx-auto">
      
        <!-- ADD CODE when user hovers--><h2 class="mb-4" style="color:#28303b">Our openOutcomes™ </br>Enterprise Implementations</h2>
		<hr class="my-4">
		<div class="row"> 
		<p align="left"></p>
<div class="row">
   
        {% for oousers in site.oousers %}
        {% if oousers.type contains "Enterprise" %}
    <div class="col-md-4" style="padding-bottom: 20px">
      
	
		  <a class="portfolio-box" href="{{ oousers.www }}" target="_blank">
			<img class="img-fluid" src="{{ oousers.thumbnail }}" alt="{{ oousers.name }}" style="width:100%">
      <img src="{{ oousers.partner }}" alt="{{ oouser.partnername }}" style="width: 30%; position: absolute; top: 1px; left: 200px">		
				<div class="portfolio-box-caption">
					<div class="portfolio-box-caption-content">
						  <div class="project-category text-faded">
							{{ oousers.name }}
						  </div>
						  <div class="project-name">
							{{ oousers.version }}
						  </div>
					</div>
				</div>
            </a>
           
          </div>
           {% endif %}
          {% endfor %}

        </div>

</div>
</section>
