<!-- <section id="contact" class="bg-secondary text-white">-->
        <section id="contact" class="text-white bg-dark">
            <div class="container text-white">
              <div class="row">
                <div class="col-lg-8 mx-auto text-center text-white">
                  <h2 class="section-heading">Stay Up To Date</h2>
                  <hr class="my-4">
                  <p class="mb-5">Join the conversation with us and keep up with the latest news in all the usual places:</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                   <a href="mailto:openoutcomes@apperta.org" class="icon"><i class="fas fa-envelope fa-3x sr-contact"></i></a><br>
                   <a href="mailto:openoutcomes@apperta.org" class="icon">openoutcomes@apperta.org</a>
      
                </div>
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                    <a target="_blank" href="https://www.linkedin.com/company/the-apperta-foundation-c.i.c./" class="icon"> <i class="fab fa-linkedin fa-3x sr-contact"></i></a>
                </div>
                <div class="col-md-2 mr-auto text-center" style="margin-top: 20px">
                   <a href="tel:0300 030 1973" class="icon"><i class="fas fa-phone fa-3x sr-contact"></i></a><br>
                   <a href="tel:0300 030 1973" class="icon">0300 030 1973</a>
                </div>
                <div class="col-md-2 mr-auto text-center"style="margin-top: 20px">
                    <a href="/privacy" class="icon"><i class="fas fa-cookie-bite fa-3x sr-contact"></i></a>
                </div>
                
              </div>
            <br>
            <hr class="my-4"> 
            <br>

              
            </div>
          </section>

    
    <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">The Apperta Foundation CIC is a limited company (registration number 09483987)<br>

Our registered address is Sunderland Software Centre, Tavistock Place, Sunderland, Tyne And Wear, England, SR1 1PB<br>
This website is copyright © Apperta Foundation CIC 2023</br>
      openOutcomes™ and Apperta Foundation™ are a Trademark of the Apperta Foundation CIC 2023</br>
      The Apperta Foundation is not responsible for content found on external sites, linked from this website.</br>
    </div>
  </footer>
    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
  
  </body>

</html>