<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ site.url }}#page-top"><img src="/img/Apperta_LogoWeb_Small.png" height="40"><!-- Open Outcomes™--></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ site.url }}#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ site.url }}#governance">Governance</a>
            </li>
            {% assign psize = site.posts | size %}
            {% if psize == 0 %} 
            {% else %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ site.url }}#news">News</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ site.url }}#implementations">Implementations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://ckm.apperta.org/ckm/projects/1051.61.33" target="_blank">Clinical Models</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ site.url }}#contact">Contact</a>
            </li>
            		<li class="nav-item">
			 <a class="nav-link" href="https://www.linkedin.com/company/the-apperta-foundation-c.i.c./" target="_blank"><i class="fab fa-linkedin"></i></a> 
			</li>
			              </ul>
        
       <a class="navbar-brand js-scroll-trigger" href="{{ site.url }}#page-top"><img src="/img/logo-neg.png" height="40"></a>
                  
        </div>
      </div>
    </nav>