<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav" style="background-image: linear-gradient(#2B3440,#0F1925);">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ site.url }}#page-top"><img src="/img/logo-neg.png" height="40"> Open Outcomes™</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>

               <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                 <a class="dropdown-item nav-link" style="color:#1f2734" href="#work-lists">Worklists</a>
                 <a class="dropdown-item nav-link" style="color:#1f2734" href="#patient-overview">Patient Overview</a>
				<a class="dropdown-item nav-link" style="color:#1f2734" href="#examination-event">Examination Event</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#eyedraw">EyeDraw</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#popups">Popups</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#operation-notes">Operation Notes</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#prescribing">Prescribing</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#correspondence">Correspondence</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#hotlists">Hotlists</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#lightning-viewer">Lightning Viewer</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#oescape">OEScape - Summary Board</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#audit">Analytics Audit</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#analytics-rtt">Analytics - RTT Clinic Monitoring</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#colour-themes">Colour Themes</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#whiteboards">Whiteboard</a>
        <a class="dropdown-item nav-link" style="color:#1f2734" href="#virtual-clinic">Virtual Clinics</a>
               </div>
          </div>
<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ site.url }}#services">Governance</a>
            </li>

             <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            		<li class="nav-item">
			 <a class="nav-link" href="https://github.com/appertafoundation/openoutcomes" target="_blank"><i class="fab fa-github"></i></a>
			</li>
			<li class="nav-item">
			 <a class="nav-link" href="https://twitter.com/open_Outcomes" target="_blank"><i class="fab fa-twitter"></i></a>
			</li>
          </ul>
        </div>
      </div>
    </nav>
